<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="30 seconds">

    <contextName>logback</contextName>

    <!--ConsoleAppender 用于在屏幕上输出日志-->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>


    <logger name="root">
        <level value="ERROR"/>
    </logger>
    <logger name="com.imooc">
        <level value="DEBUG"/>
    </logger>
    <root>
        <appender-ref ref="stdout"/>
    </root>
</configuration>